@{
    ViewBag.Title = "Home Page";
}
<style>
    .u-block-hover:hover .g-color-primary--hover,
    .g-color-primary--hover:hover {
        color: #72c02c !important;
    }
    .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #ccc;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }
</style>
<script>
    function Send_Mail() {
        var Name = $.trim($("#txtName").val());
        //var Tel = $.trim($("#txtTel").val());
        //var Email = $.trim($("#txtEmail").val());
        //var Message = $.trim($("#txtMessage").val());
        //var ParmLang = $.trim($("#txtParmLang").val());
        //var ParmKey = $.trim($("#txtParmKey").val());
        //var ParmAction = "";
        //var valContact = {
        //    Name: Name,
        //    Tel: Tel,
        //    Email: Email,
        //    Message: Message
        //}
        if (Name == "") {
            alert(msg("E003"));
            return;
        }
        return;
        //$.ajax({
        //    type: "POST",
        //    url: "/Common/SetContactToEmail",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: JSON.stringify(valContact, ParmLang),
        //    error: function (XMLHttpRequest, textStatus, errorThrown) {
        //        alert("网络繁忙,请稍后再试！");
        //    },
        //    success: function (data) {
        //        if (data.Code == "1") {
        //            alert(data.Message);
        //            window.location.href = "/Feature/Contact" + ParmAction;
        //        }
        //        else {
        //            alert(data.Message);
        //        }
        //    }
        //});
    }
    function msg(MsgID) {
        var ErrMsg = [
                        ["E001", "name", "名字"],
                        ["E002", "name2", "名字2"],
                        ["E003", "name3", "名字3"]
        ];
        for (var i = 0; i < ErrMsg.length; i++){
            if (MsgID == ErrMsg[i][0]) {
                return ErrMsg[i][1];
            }
        }
    }
</script>
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <p><a href="/Home/LightBox">LightBox</a></p>
        <p><a href="/Home/PhotoGallery">Gallery弹层问题</a></p>
        <p><a href="/Home/Language">多语言切换</a></p>
        <!-- Search Form -->
        <div class="input-group stylish-input-group g-max-width-200">
            <input id="txtSearch" class="form-control g-color-gray-dark-v4 g-placeholder-gray-dark-v3 g-rounded-left-50 g-px-20" type="text" placeholder="Search for...">
            <span class="btn input-group-addon g-rounded-right-50">
                <i class="icon-magnifier"></i>
            </span>
        </div>
        <!-- End Search Form -->
        <div class="g-mb-20">
            <label class="g-color-gray-dark-v5 g-font-weight-600 g-font-size-13">
                name
            </label>
            <input id="txtName" class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-0 g-py-13 g-px-15" type="text" placeholder="name">
        </div>
        <div class="text-right">
            <a class="btn btn-lg u-btn-primary g-color-white g-font-weight-600 g-font-size-default rounded-0" onclick="Send_Mail()">Send</a>
        </div>
    </div>
    <div class="col-4">
        <select class="js-custom-select text-uppercase text-left u-select-v1 g-width-130 g-width-155--lg g-letter-spacing-1 g-font-weight-700 g-font-size-11 g-color-white g-rounded-50 g-py-10 g-py-12--md g-px-20 g-px-30--md g-mr-10 g-mr-20--lg"
                data-placeholder="For all"
                data-open-icon="fa fa-angle-down"
                data-close-icon="fa fa-angle-up">
            <option></option>
            <option value="Action">Action</option>
            <option value="Edit Profile">Edit Profile</option>
            <option value="Another Action">Another Action</option>
        </select>
        <select class="js-custom-select w-100 u-select-v1 g-width-80 g-brd-left-none--md g-brd-gray-light-v3 g-color-main g-color-primary--hover g-pt-12 g-pb-13">
                <option></option>
                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="aaa">aaa</option>
                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="bbb">bbb</option>
        </select>
    </div>
</div>

    <script src="~/assets/vendor/jquery/jquery-3.2.1.js"></script>
    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
          afterOpen: function () {
            $(this).find('input[type="search"]').focus();
          }
        });

        // initialization of range slider
        $.HSCore.components.HSSlider.init('#rangeSlider1');

        // initialization of custom select
        $.HSCore.components.HSSelect.init('.js-custom-select');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });
    </script>
