@{
    ViewBag.Title = "Home Page";
}


<!-- Favicon -->
<link rel="shortcut icon" href="~/favicon.ico">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap.min.css">
<!-- CSS Global Icons -->
<link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/assets/vendor/icon-line/css/simple-line-icons.css">
<link rel="stylesheet" href="~/assets/vendor/icon-etlinefont/style.css">
<link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
<link rel="stylesheet" href="~/assets/vendor/icon-hs/style.css">
<link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsparallaxer.css">
<link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
<link rel="stylesheet" href="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
<link rel="stylesheet" href="~/assets/vendor/animate.css">
<link rel="stylesheet" href="~/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="~/assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="~/assets/vendor/hamburgers/hamburgers.min.css">
<link rel="stylesheet" href="~/assets/vendor/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/assets/vendor/slick-carousel/slick/slick.css">
<!-- Show / Copy Code -->
<link rel="stylesheet" href="~/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="~/assets/vendor/prism/themes/prism.css">
<link rel="stylesheet" href="~/assets/vendor/custombox/custombox.min.css">

<!-- CSS Unify -->
<link rel="stylesheet" href="~/assets/css/unify-core.css">
<link rel="stylesheet" href="~/assets/css/unify-components.css">
<link rel="stylesheet" href="~/assets/css/unify-globals.css">
<!-- CSS Customization -->
<link rel="stylesheet" href="~/assets/css/custom.css">

<div class="shortcode-html">
    <div id="carousel-08-1" class="js-carousel text-center g-mb-20" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0" data-nav-for="#carousel-08-2">
        <div class="js-slide">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="/assets/img-temp/500x450/img1.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img1.jpg" alt="Image Description">
            </a>
        </div>

        <div class="js-slide">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="/assets/img-temp/500x450/img2.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img2.jpg" alt="Image Description">
            </a>
        </div>

        <div class="js-slide">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="/assets/img-temp/500x450/img3.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img3.jpg" alt="Image Description">
            </a>
        </div>

        <div class="js-slide">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="/assets/img-temp/500x450/img4.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img4.jpg" alt="Image Description">
            </a>
        </div>

        <div class="js-slide">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="/assets/img-temp/500x450/img5.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img5.jpg" alt="Image Description">
            </a>
        </div>

        <div class="js-slide">
            <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="/assets/img-temp/500x450/img6.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img6.jpg" alt="Image Description">
            </a>
        </div>
    </div>

    <div id="carousel-08-2" class="js-carousel text-center g-mx-minus-10 u-carousel-v3" data-infinite="true" data-center-mode="true" data-slides-show="4" data-is-thumbs="true" data-nav-for="#carousel-08-1">
        <div class="js-slide g-px-10">
            <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img1.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-px-10">
            <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img2.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-px-10">
            <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img3.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-px-10">
            <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img4.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-px-10">
            <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img5.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-px-10">
            <img class="img-fluid w-100" src="~/assets/img-temp/500x450/img6.jpg" alt="Image Description">
        </div>
    </div>
</div>
<!-- JS Global Compulsory -->
<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="~/assets/vendor/popper.min.js"></script>
<script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="~/assets/vendor/appear.js"></script>
<script src="~/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="~/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script src="~/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
<script src="~/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
<script src="~/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
<script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="~/assets/vendor/slick-carousel/slick/slick.min.js"></script>
<!-- jQuery UI Core -->
<script src="~/assets/vendor/jquery-ui/jquery-ui.core.min.js"></script>

<!-- jQuery UI Helpers -->
<script src="~/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
<script src="~/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
<!-- jQuery UI Widgets -->
<script src="~/assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
<!-- JS Unify -->
<script src="~/assets/js/hs.core.js"></script>
<script src="~/assets/js/components/hs.header.js"></script>
<script src="~/assets/js/helpers/hs.hamburgers.js"></script>
<script src="~/assets/js/components/hs.header-side.js"></script>
<script src="~/assets/js/components/hs.carousel.js"></script>
<script src="~/assets/js/components/hs.popup.js"></script>
<script src="~/assets/js/components/hs.autocomplete-local-search.js"></script>
<script src="~/assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
<script src="~/assets/js/helpers/hs.shortcode-filter.js"></script>
<script src="~/assets/js/components/hs.go-to.js"></script>
<!-- Show / Copy Code -->
<script src="~/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="~/assets/vendor/prism/prism.core.min.js"></script>
<script src="~/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/assets/vendor/custombox/custombox.min.js"></script>
<script src="~/assets/js/components/hs.scrollbar.js"></script>
<script src="~/assets/js/components/hs.modal-window.js"></script>
<script src="~/assets/js/helpers/hs.modal-markup.js"></script>
<script src="~/assets/js/components/hs.markup-copy.js"></script>
<script src="~/assets/js/components/hs.tabs.js"></script>
<script>
    $(document).on('ready', function () {
        $.HSCore.helpers.HSModalMarkup.init('.js-modal-markup');

        $.HSCore.components.HSMarkupCopy.init('.js-copy');
    });
</script>
<!-- JS Custom -->
<script src="~/assets/js/custom.js"></script>
<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of popups with media
        $.HSCore.components.HSPopup.init('.js-fancybox-media', {
            helpers: {
                media: {},
                overlay: {
                    css: {
                        'background': 'rgba(255, 255, 255, .8)'
                    }
                }
            }
        });
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
        $.HSCore.components.HSHeaderSide.init($('#sideNav'));

        // initialization of autocomplet
        $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });
</script>