@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <p><a href="/Home/LightBox">LightBox</a></p>
        <p><a href="/Home/PhotoGallery">Gallery弹层问题</a></p>
    </div>
    <div class="col-2">
    </div>
</div>
