@{
    ViewBag.Title = "LightBox";
    string TemplateURL = "~/Views/Template/TempLightBox.cshtml";
}
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        @Html.Partial(TemplateURL)
    </div>
    <div class="col-4">
    </div>
</div>
