@{
    ViewBag.Title = "PhtotGallery";
    string TemplateURL = "~/Views/Template/TempPhtotGallery.cshtml";
    string TemplateURLHwLayer = "~/Views/Template/TempHwLayer.cshtml";
}
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        @Html.Partial(TemplateURL)
    </div>
    <div class="col-4">
    </div>
</div>
