@{
    ViewBag.Title = "PhtotGalleryPopup";
    string TemplateURL = "~/Views/Template/TempPopup.cshtml";
}
<div class="row">
    <div class="col-12">
        @Html.Partial(TemplateURL)
    </div>
</div>

