<script src="~/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/assets/layer/layer.js"></script>

<script>
    function poplayer() {
        var KeyID = 1;
    layer.open({
        type: 2,
        content: ['/Home/Popup' + '?KeyID' + KeyID, 'no'],
        area: ['900px', '600px']
        });
}
</script>

<div class="row">
    @{
        int flg1 = 0;
        for (int i = 0; i <= 1; i++)
        {
            <div class="col-md-6 g-mb-30">
                <!-- Article -->
                <article class="u-block-hover g-color-white">
                    <!-- Article Image -->
                    <div class="js-fancybox-thumbs">
                        <img class="img-fluid" src="~/assets/img-temp/100x100/img1.jpg" alt="Image Description">
                    </div>
                    <!-- End Article Image -->
                    <div class="g-height-100x cus-bg-green-gradient-opacity-v1 u-block-hover__additional--fade rounded"></div>
                    <!-- Article Content -->
                    <div class="u-block-hover__additional g-flex-middle g-pa-20">
                        <div class="g-flex-middle-item--bottom">
                            <em class="d-block g-font-style-normal g-font-size-12 cus-text-shadow"><i class="fa fa-clock-o g-mr-5"></i>1900</em>
                            <small class="font-weight-bold cus-text-shadow">Test</small>
                        </div>
                    </div>
                    <!-- End Article Content -->
                    <open><a class="u-link-v2" href="javascript:void(0)" onclick="poplayer();"></a></open>
                </article>
                <!-- End Article Content -->
            </div>
            flg1++;
        }
    }
</div>
